<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @apartment.numero %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @apartment.referencia %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @apartment.building_id %>
</p>

<%= link_to 'Back', apartments_path %>


